.active{
    background-color: rgb(23, 23, 61);
    padding: 4px 7px;
    color: white;
}
// .active:hover{
//     background-color: rgb(23, 23, 61);
//     padding: 4px 7px;
//     color: white;
// }